@charset "utf-8";

html,*{ 
    margin: 0; 
    padding: 0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

body {
    margin: 18px 0 0 0;
    padding: 0;
    background: #fff url(../images/img01.gif) repeat-x;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #333333;
}

table {
    border-collapse:collapse;
	border-spacing:0;
}

img { 
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

ol,ul {
    list-style:none;
}

caption,th {
    text-align:left;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

q:before,q:after {
    content:'';
}

abbr, acronym { 
    cursor:help; border-bottom: 1px dotted #808080;
}

a, a:link, a:visited{
    color: #369bbd;
}

a:hover, a:active {
	text-decoration: none;
	color: #003448;
    outline:none; 
}
:focus {
    -moz-outline-style:none;
} 

table,tr,td{ 
    border: none; 
    text-align: left;
}

strong{
    font-weight: bold;
}
